<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Password</title>
  </head>
  <body>
    <h1>Hello <%= name %> (<%= username %>)</h1>
    <p>
      To gain full access to the message board you must enter the password. If
      you want admin privledges you must also enter the admin password.
    </p>
    <form method="post" action=""></form>
  </body>
</html>
