<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Password</title>
  </head>
  <body>
    <h1>Hello <%= name %> (<%= username %>)</h1>
    <p>
      To gain full access to the message board you must enter the password. If
      you want admin privledges you must also enter the admin password.
    </p>
    <form method="post" action="">
      <label for="access-password">Access Password:</label>
      <input
        type="text"
        placeholder="access password"
        name="access-password"
        required
      />
      <% if(errors && errors.length > 0 && errors.find(e => e.path ===
      'access-password')) { %>
      <p><%= errors.find(e => e.path === 'access-password').msg %></p>
      <% } else { %>
      <p></p>
      <% } %>
      <label for="admin-password">Admin Access Password:</label>
      <input type="text" placeholder="admin password" name="admin-password" />
      <% if(errors && errors.length > 0 && errors.find(e => e.path ===
      'admin-password')) { %>
      <p><%= errors.find(e => e.path === 'admin-password').msg %></p>
      <% } else { %>
      <p></p>
      <% } %>
      <button type="submit">Submit</button>
      <button onclick="window.location.href='/'">Cancel</button>
    </form>
  </body>
</html>
